<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdjduG_MTjps6IY6BKu8xu4dbQ0WXS6Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>496142997358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mixyDemo</string>
	<key>PROJECT_ID</key>
	<string>mixy2024-5dcf8</string>
	<key>STORAGE_BUCKET</key>
	<string>mixy2024-5dcf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496142997358:ios:7f16602959434347bc537f</string>
</dict>
</plist>